node_red_flows.json
[{"id":"ca524bc3.7767b8","type":"tab","label":"MQTT Particle Sensor","disabled":false,"info":""},{"id":"c5a8dc0.89ca128","type":"mqtt in","z":"ca524bc3.7767b8","name":"","topic":"sensor/PM25","qos":"2","datatype":"auto","broker":"b17bd866.33bbe8","nl":false,"rap":true,"rh":0,"x":420,"y":320,"wires":[["f119ca3b.f253d8"]]},{"id":"f119ca3b.f253d8","type":"debug","z":"ca524bc3.7767b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":320,"wires":[]},{"id":"ad9a5558.851c48","type":"mqtt in","z":"ca524bc3.7767b8","name":"","topic":"sensor/PM10","qos":"2","datatype":"auto","broker":"b17bd866.33bbe8","nl":false,"rap":true,"rh":0,"x":430,"y":380,"wires":[["13a0cc4c.c87de4"]]},{"id":"13a0cc4c.c87de4","type":"debug","z":"ca524bc3.7767b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":380,"wires":[]},{"id":"b17bd866.33bbe8","type":"mqtt-broker","name":"HiveMQ Cloud","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"/connection","birthQos":"0","birthRetain":"true","birthPayload":"Connected","birthMsg":{},"closeTopic":"/connection","closeQos":"0","closeRetain":"true","closePayload":"Disconnected","closeMsg":{},"willTopic":"/connection","willQos":"0","willRetain":"true","willPayload":"Unexpected disconnection","willMsg":{},"sessionExpiry":""}]